@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'modern';
  src: url('../fonts/Righteous-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.font-modern {
  font-family: 'modern', sans-serif;
}
